openapi: 3.1.0
info:
  version: 1.0.21
  title: Oku JSON-RPC API
  description: >-
    
    Welcome to Oku's API, developed by GFX Labs and made available to the public
    by the Uniswap Foundation.

    The API has complete historical Uniswap v3 pool, position, swap info, and
    much more!

    The endpoints listed below were created to support the development of Oku.


    The API is JSON-RPC2 compliant (https://www.jsonrpc.org/specification) and
    can be accessed via http POST or websocket.


    This document details an alternative way to access the jsonrpc2 api, through
    post requests in where the URL path is used for the method.


    If you can't find the data you're looking for or encounter an error, please
    contact the GFX Labs team.
servers:
  - url: https://omni.icarus.tools
components:
  schemas:
    Float64:
      type: number
      x-go-package: ''
      x-go-type: float64
      title: Float64
    Int:
      type: integer
      x-go-package: ''
      x-go-type: int
      title: Int
    Int32:
      type: integer
      x-go-package: ''
      x-go-type: int32
      title: Int32
    Int64:
      type: integer
      x-go-package: ''
      x-go-type: int64
      title: Int64
    uint256_Int:
      type: string
      minLength: 66
      maxLength: 66
      pattern: ^0x[a-fA-F0-9]*$
      x-go-package: github.com/holiman/uint256
      x-go-type: '*Int'
      title: uint256_Int
    common_Address:
      type: string
      minLength: 42
      maxLength: 42
      pattern: ^0x[a-fA-F0-9]*$
      x-go-package: github.com/ethereum/go-ethereum/common
      x-go-type: Address
      title: common_Address
    common_Hash:
      type: string
      minLength: 66
      maxLength: 66
      pattern: ^0x[a-fA-F0-9]*$
      x-go-package: github.com/ethereum/go-ethereum/common
      x-go-type: Hash
      title: common_Hash
    AmountDeltas:
      type: object
      properties:
        amount0_delta:
          type: string
        amount1_delta:
          type: string
      required:
        - amount0_delta
        - amount1_delta
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AmountDeltas'
      title: AmountDeltas
    AnalyticsActivityHistory:
      type: object
      properties:
        data:
          type: array
          items:
            type: array
            items:
              type: integer
              x-go-package: ''
              x-go-type: int
        max_value:
          type: integer
          x-go-package: ''
          x-go-type: int
        total_trades:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - data
        - max_value
        - total_trades
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsActivityHistory'
      title: AnalyticsActivityHistory
    TransactionCount:
      type: object
      properties:
        count:
          type: integer
          x-go-package: ''
          x-go-type: int
        ts:
          type: string
      required:
        - count
        - ts
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*TransactionCount'
      title: TransactionCount
    AnalyticsDailyActivityHistory:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionCount'
        max_value:
          type: integer
          x-go-package: ''
          x-go-type: int
        total_trades:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - data
        - max_value
        - total_trades
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsDailyActivityHistory'
      title: AnalyticsDailyActivityHistory
    PositionInfo:
      type: object
      properties:
        percent_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        positions_created_24h:
          type: integer
          x-go-package: ''
          x-go-type: int
        total_positions:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - percent_change
        - positions_created_24h
        - total_positions
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionInfo'
      title: PositionInfo
    PoolRecentTransactions:
      type: object
      properties:
        amount0:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1:
          type: number
          x-go-package: ''
          x-go-type: float64
        current_value:
          type: number
          x-go-package: ''
          x-go-type: float64
        event_type:
          type: string
        side:
          type: string
        time:
          type: integer
          x-go-package: ''
          x-go-type: int
        token0_symbol:
          type: string
        token1_symbol:
          type: string
        transaction:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
        usd_value:
          type: number
          x-go-package: ''
          x-go-type: float64
        user:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
      required:
        - amount0
        - amount1
        - current_value
        - event_type
        - side
        - time
        - token0_symbol
        - token1_symbol
        - transaction
        - usd_value
        - user
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolRecentTransactions'
      title: PoolRecentTransactions
    PositionPriceRange:
      type: object
      properties:
        inverse_lower_price:
          type: string
        inverse_upper_price:
          type: string
        lower_price:
          type: string
        upper_price:
          type: string
      required:
        - inverse_lower_price
        - inverse_upper_price
        - lower_price
        - upper_price
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionPriceRange'
      title: PositionPriceRange
    Positions:
      type: object
      properties:
        apr:
          type: string
        collected_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        create_time:
          type: string
        fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_event_time:
          type: string
        pnl:
          type: number
          x-go-package: ''
          x-go-type: float64
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        position_price_range:
          $ref: '#/components/schemas/PositionPriceRange'
        position_type:
          type: string
        source:
          type: string
        status:
          type: string
        t0:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t0_amount:
          type: string
        t0_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t0_symbol:
          type: string
        t1:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t1_amount:
          type: string
        t1_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t1_symbol:
          type: string
        tick_lower:
          type: integer
          x-go-package: ''
          x-go-type: int
        tick_upper:
          type: integer
          x-go-package: ''
          x-go-type: int
        token_id:
          type: integer
          x-go-package: ''
          x-go-type: int
        total_value_current_usd:
          type: string
        user:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        uuid:
          type: string
      required:
        - collected_fees_usd
        - create_time
        - fee
        - last_event_time
        - pnl
        - pool
        - status
        - t0
        - t0_decimals
        - t0_symbol
        - t1
        - t1_decimals
        - t1_symbol
        - tick_lower
        - tick_upper
        - token_id
        - total_value_current_usd
        - uuid
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*Positions'
      title: Positions
    AnalyticsPool:
      type: object
      properties:
        address:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        apr:
          type: number
          x-go-package: ''
          x-go-type: float64
        apr_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_updated:
          type: integer
          x-go-package: ''
          x-go-type: int
        position_stats:
          $ref: '#/components/schemas/PositionInfo'
        recent_transactions:
          type: array
          items:
            $ref: '#/components/schemas/PoolRecentTransactions'
        t0:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t0_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t0_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_name:
          type: string
        t0_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_symbol:
          type: string
        t0_tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_change_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t1_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t1_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_name:
          type: string
        t1_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_symbol:
          type: string
        t1_tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_change_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        top_positions:
          type: array
          items:
            $ref: '#/components/schemas/Positions'
        total_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_usd_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        tx_count:
          type: integer
          x-go-package: ''
          x-go-type: int
        volume_and_fees_change:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - address
        - apr
        - apr_change
        - fee
        - last_updated
        - position_stats
        - recent_transactions
        - t0
        - t0_change
        - t0_change_usd
        - t0_decimals
        - t0_fees_usd
        - t0_name
        - t0_price_usd
        - t0_symbol
        - t0_tvl
        - t0_tvl_usd
        - t0_volume
        - t0_volume_7d
        - t0_volume_change
        - t0_volume_change_7d
        - t0_volume_usd
        - t1
        - t1_change
        - t1_change_usd
        - t1_decimals
        - t1_fees_usd
        - t1_name
        - t1_price_usd
        - t1_symbol
        - t1_tvl
        - t1_tvl_usd
        - t1_volume
        - t1_volume_7d
        - t1_volume_change
        - t1_volume_change_7d
        - t1_volume_usd
        - top_positions
        - total_fees_usd
        - tvl_usd
        - tvl_usd_change
        - tx_count
        - volume_and_fees_change
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsPool'
      title: AnalyticsPool
    PositionFees:
      type: object
      properties:
        token0BurnedLiquidityCollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token0BurnedLiquidityUncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token0FeesCollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token0FeesUncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token1BurnedLiquidityCollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token1BurnedLiquidityUncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token1FeesCollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token1FeesUncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
      required:
        - token0BurnedLiquidityCollected
        - token0BurnedLiquidityUncollected
        - token0FeesCollected
        - token0FeesUncollected
        - token1BurnedLiquidityCollected
        - token1BurnedLiquidityUncollected
        - token1FeesCollected
        - token1FeesUncollected
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionFees'
      title: PositionFees
    CurrentValues:
      type: object
      properties:
        amount0_current:
          type: string
        amount0_current_usd:
          type: string
        amount1_current:
          type: string
        amount1_current_usd:
          type: string
        liquidity_current:
          type: string
        total_value_current_usd:
          type: string
      required:
        - amount0_current
        - amount0_current_usd
        - amount1_current
        - amount1_current_usd
        - liquidity_current
        - total_value_current_usd
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*CurrentValues'
      title: CurrentValues
    EstimatedPositionApr:
      type: object
      properties:
        estimated_apr:
          type: number
          x-go-package: ''
          x-go-type: float64
        estimated_fees:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - estimated_apr
        - estimated_fees
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*EstimatedPositionApr'
      title: EstimatedPositionApr
    HistoricPositionFees:
      type: object
      properties:
        accumulated_fees0_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        accumulated_fees1_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        accumulated_total_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees0:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees0_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees1:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees1_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        time:
          type: integer
          x-go-package: ''
          x-go-type: int
        total_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - accumulated_fees0_usd
        - accumulated_fees1_usd
        - accumulated_total_usd
        - fees0
        - fees0_usd
        - fees1
        - fees1_usd
        - time
        - total_fees_usd
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*HistoricPositionFees'
      title: HistoricPositionFees
    HistoricPositionFeesInfo:
      type: object
      properties:
        historic_fees:
          type: array
          items:
            $ref: '#/components/schemas/HistoricPositionFees'
        total_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_fees0:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_fees0_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_fees1:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_fees1_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - historic_fees
        - total_fees_usd
        - total_fees0
        - total_fees0_usd
        - total_fees1
        - total_fees1_usd
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*HistoricPositionFeesInfo'
      title: HistoricPositionFeesInfo
    LastTransactionEvent:
      type: object
      properties:
        last_log_index:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_txn_block:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_txn_processed:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
      required:
        - last_log_index
        - last_txn_block
        - last_txn_processed
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*LastTransactionEvent'
      title: LastTransactionEvent
    CurrentTxnValues:
      type: object
      properties:
        token0_value_current:
          type: number
          x-go-package: ''
          x-go-type: float64
        token1_value_current:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_value_current:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - token0_value_current
        - token1_value_current
        - total_value_current
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*CurrentTxnValues'
      title: CurrentTxnValues
    PastTxnValues:
      type: object
      properties:
        token0_value_past:
          type: number
          x-go-package: ''
          x-go-type: float64
        token1_value_past:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_value_past:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - token0_value_past
        - token1_value_past
        - total_value_past
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PastTxnValues'
      title: PastTxnValues
    PositionTransactions:
      type: object
      properties:
        amount:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount0:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        current_values:
          $ref: '#/components/schemas/CurrentTxnValues'
        eventType:
          type: string
        liquidity:
          type: string
        logIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
        owner:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        past_values:
          $ref: '#/components/schemas/PastTxnValues'
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        recipient:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        sender:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        tick_lower:
          type: integer
          x-go-package: ''
          x-go-type: int
        tick_upper:
          type: integer
          x-go-package: ''
          x-go-type: int
        token_id:
          type: integer
          x-go-package: ''
          x-go-type: int
        ts:
          type: string
        txn:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
        txnIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
        user:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
      required:
        - amount
        - amount0
        - amount1
        - block
        - eventType
        - liquidity
        - logIndex
        - owner
        - pool
        - recipient
        - sender
        - tick_lower
        - tick_upper
        - token_id
        - ts
        - txn
        - txnIndex
        - user
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionTransactions'
      title: PositionTransactions
    PositionPoolData:
      type: object
      properties:
        current_pool_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        current_pool_tick:
          type: integer
          x-go-package: ''
          x-go-type: int
        fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token0:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token0_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        token0_name:
          type: string
        token0_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        token0_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        token0_symbol:
          type: string
        token1:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token1_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        token1_name:
          type: string
        token1_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        token1_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        token1_symbol:
          type: string
      required:
        - current_pool_price
        - current_pool_tick
        - fee
        - pool
        - token0
        - token0_decimals
        - token0_name
        - token0_price
        - token0_price_usd
        - token0_symbol
        - token1
        - token1_decimals
        - token1_name
        - token1_price
        - token1_price_usd
        - token1_symbol
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionPoolData'
      title: PositionPoolData
    PositionPnl:
      type: object
      properties:
        amount0_delta:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount0_loss:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount0_profit:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1_delta:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1_loss:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1_profit:
          type: number
          x-go-package: ''
          x-go-type: float64
        collected_usd_fees:
          type: number
          x-go-package: ''
          x-go-type: float64
        pnl_usd_after_fees:
          type: number
          x-go-package: ''
          x-go-type: float64
        pnl_usd_before_fees:
          type: number
          x-go-package: ''
          x-go-type: float64
        uncollected_usd_fees:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - amount0_delta
        - amount0_loss
        - amount0_profit
        - amount1_delta
        - amount1_loss
        - amount1_profit
        - collected_usd_fees
        - pnl_usd_after_fees
        - pnl_usd_before_fees
        - uncollected_usd_fees
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionPnl'
      title: PositionPnl
    PositionStartingAmounts:
      type: object
      properties:
        amount0:
          type: string
        amount1:
          type: string
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        liquidity:
          type: string
        log_index:
          type: integer
          x-go-package: ''
          x-go-type: int
        mint_tx:
          type: string
        owner:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        timestamp:
          type: string
      required:
        - amount0
        - amount1
        - block
        - liquidity
        - log_index
        - mint_tx
        - owner
        - timestamp
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionStartingAmounts'
      title: PositionStartingAmounts
    TotalCollectAmounts:
      type: object
      properties:
        total_collect_amount0:
          type: string
        total_collect_amount1:
          type: string
        total_net_collect_amount0:
          type: string
        total_net_collect_amount1:
          type: string
      required:
        - total_collect_amount0
        - total_collect_amount1
        - total_net_collect_amount0
        - total_net_collect_amount1
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*TotalCollectAmounts'
      title: TotalCollectAmounts
    TotalDepositAmounts:
      type: object
      properties:
        total_deposit_amount0:
          type: string
        total_deposit_amount1:
          type: string
      required:
        - total_deposit_amount0
        - total_deposit_amount1
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*TotalDepositAmounts'
      title: TotalDepositAmounts
    TotalWithdrawnAmounts:
      type: object
      properties:
        total_withdrawn_amount0:
          type: string
        total_withdrawn_amount1:
          type: string
      required:
        - total_withdrawn_amount0
        - total_withdrawn_amount1
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*TotalWithdrawnAmounts'
      title: TotalWithdrawnAmounts
    PositionsTransfer:
      type: object
      properties:
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        eventAddress:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        logIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
        recipient:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        sender:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token_id:
          type: integer
          x-go-package: ''
          x-go-type: int
        ts:
          type: string
        txn:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
        txnIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - block
        - eventAddress
        - logIndex
        - recipient
        - sender
        - token_id
        - ts
        - txn
        - txnIndex
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionsTransfer'
      title: PositionsTransfer
    HistoricUserPositions:
      type: object
      properties:
        amount_deltas:
          $ref: '#/components/schemas/AmountDeltas'
        create_block:
          type: integer
          x-go-package: ''
          x-go-type: int
        created_date:
          type: integer
          x-go-package: ''
          x-go-type: int
        current_fee_info:
          $ref: '#/components/schemas/PositionFees'
        current_liquidity:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        current_pool_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        current_pool_tick:
          type: integer
          x-go-package: ''
          x-go-type: int
        current_position_values:
          $ref: '#/components/schemas/CurrentValues'
        estimated_apr:
          $ref: '#/components/schemas/EstimatedPositionApr'
        fee_history:
          $ref: '#/components/schemas/HistoricPositionFeesInfo'
        last_event_time:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_owner:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        last_transaction_event:
          $ref: '#/components/schemas/LastTransactionEvent'
        last_updated:
          type: integer
          x-go-package: ''
          x-go-type: int
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        position_age:
          type: integer
          x-go-package: ''
          x-go-type: int
        position_events:
          type: array
          items:
            $ref: '#/components/schemas/PositionTransactions'
        position_pool_data:
          $ref: '#/components/schemas/PositionPoolData'
        position_price_range:
          $ref: '#/components/schemas/PositionPriceRange'
        position_profit:
          $ref: '#/components/schemas/PositionPnl'
        position_type:
          type: string
        starting_amounts:
          $ref: '#/components/schemas/PositionStartingAmounts'
        status:
          type: string
        tickLower:
          type: integer
          x-go-package: ''
          x-go-type: int
        tickUpper:
          type: integer
          x-go-package: ''
          x-go-type: int
        token0_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        token1_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        tokenId:
          type: string
        total_collect_amounts:
          $ref: '#/components/schemas/TotalCollectAmounts'
        total_deposit_amounts:
          $ref: '#/components/schemas/TotalDepositAmounts'
        total_withdrawn_amounts:
          $ref: '#/components/schemas/TotalWithdrawnAmounts'
        transfers:
          type: array
          items:
            $ref: '#/components/schemas/PositionsTransfer'
        user:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        uuid:
          type: string
      required:
        - amount_deltas
        - create_block
        - created_date
        - current_fee_info
        - current_liquidity
        - current_pool_price
        - current_pool_tick
        - current_position_values
        - estimated_apr
        - fee_history
        - last_event_time
        - last_owner
        - last_transaction_event
        - last_updated
        - pool
        - position_age
        - position_events
        - position_pool_data
        - position_price_range
        - position_profit
        - position_type
        - starting_amounts
        - status
        - tickLower
        - tickUpper
        - token0_decimals
        - token1_decimals
        - tokenId
        - total_collect_amounts
        - total_deposit_amounts
        - total_withdrawn_amounts
        - transfers
        - user
        - uuid
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*HistoricUserPositions'
      title: HistoricUserPositions
    PriceRange:
      type: object
      properties:
        current_pool_prices:
          type: number
          x-go-package: ''
          x-go-type: float64
        current_pool_tick:
          type: integer
          x-go-package: ''
          x-go-type: int
        inverseLowerPrice:
          type: number
          x-go-package: ''
          x-go-type: float64
        inverseUpperPrice:
          type: number
          x-go-package: ''
          x-go-type: float64
        lowerPrice:
          type: number
          x-go-package: ''
          x-go-type: float64
        upperPrice:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - current_pool_prices
        - current_pool_tick
        - inverseLowerPrice
        - inverseUpperPrice
        - lowerPrice
        - upperPrice
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PriceRange'
      title: PriceRange
    RelatedUserPositions:
      type: object
      properties:
        _key:
          type: string
        amount0_collected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount0_current:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount0_current_usd:
          type: string
        amount0_deposited:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount0_loss:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount0_net_collected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount0_profit:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount0_uncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount0_withdrawn:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1_collected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1_current:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1_current_usd:
          type: string
        amount1_deposited:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1_loss:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1_net_collected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1_profit:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1_uncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1_withdrawn:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        collected_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        create_block:
          type: integer
          x-go-package: ''
          x-go-type: int
        create_time:
          type: string
        current_pool_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        current_pool_tick:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_event_time:
          type: string
        last_log_index:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_owner:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        last_txn_block:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_txn_processed:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
        last_updated:
          type: integer
          x-go-package: ''
          x-go-type: int
        pnl_usd_after_fees:
          type: number
          x-go-package: ''
          x-go-type: float64
        pnl_usd_before_fees:
          type: number
          x-go-package: ''
          x-go-type: float64
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        pool_fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        position_type:
          type: string
        price_range:
          $ref: '#/components/schemas/PriceRange'
        status:
          type: string
        t0:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t0_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t0_symbol:
          type: string
        t1:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t1_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t1_symbol:
          type: string
        tickLower:
          type: integer
          x-go-package: ''
          x-go-type: int
        tickUpper:
          type: integer
          x-go-package: ''
          x-go-type: int
        token_id:
          type: integer
          x-go-package: ''
          x-go-type: int
        token0_burned_liquidity_collected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token0_burned_liquidity_uncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token1_burned_liquidity_collected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token1_burned_liquidity_uncollected:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        total_gas_costs:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        total_liquidity:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        total_value_current_usd:
          type: string
        uncollected_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        user:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
      required:
        - _key
        - amount0_collected
        - amount0_current
        - amount0_current_usd
        - amount0_deposited
        - amount0_loss
        - amount0_net_collected
        - amount0_profit
        - amount0_uncollected
        - amount0_withdrawn
        - amount1_collected
        - amount1_current
        - amount1_current_usd
        - amount1_deposited
        - amount1_loss
        - amount1_net_collected
        - amount1_profit
        - amount1_uncollected
        - amount1_withdrawn
        - collected_fees_usd
        - create_block
        - create_time
        - current_pool_price
        - current_pool_tick
        - last_event_time
        - last_log_index
        - last_owner
        - last_txn_block
        - last_txn_processed
        - last_updated
        - pnl_usd_after_fees
        - pnl_usd_before_fees
        - pool
        - pool_fee
        - position_type
        - price_range
        - status
        - t0
        - t0_decimals
        - t0_symbol
        - t1
        - t1_decimals
        - t1_symbol
        - tickLower
        - tickUpper
        - token_id
        - token0_burned_liquidity_collected
        - token0_burned_liquidity_uncollected
        - token1_burned_liquidity_collected
        - token1_burned_liquidity_uncollected
        - total_gas_costs
        - total_liquidity
        - total_value_current_usd
        - uncollected_fees_usd
        - user
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*RelatedUserPositions'
      title: RelatedUserPositions
    AnalyticsPosition:
      type: object
      properties:
        position:
          $ref: '#/components/schemas/HistoricUserPositions'
        related_positions:
          type: array
          items:
            $ref: '#/components/schemas/RelatedUserPositions'
      required:
        - position
        - related_positions
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsPosition'
      title: AnalyticsPosition
    AnalyticsPositionFilter:
      type: object
      properties:
        limit:
          type: integer
          x-go-package: ''
          x-go-type: int
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        tick_lower:
          type: integer
          x-go-package: ''
          x-go-type: int
        tick_upper:
          type: integer
          x-go-package: ''
          x-go-type: int
        token_id:
          type: integer
          x-go-package: ''
          x-go-type: int
        user:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        uuid:
          type: string
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsPositionFilter'
      title: AnalyticsPositionFilter
    PositionsOverview:
      type: object
      properties:
        percent_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        positions_created_24h:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - percent_change
        - positions_created_24h
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PositionsOverview'
      title: PositionsOverview
    ProtocolSwaps:
      type: object
      properties:
        percent_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        swap_count_24h:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - percent_change
        - swap_count_24h
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*ProtocolSwaps'
      title: ProtocolSwaps
    AnalyticsProtocolOverview:
      type: object
      properties:
        active_users:
          type: integer
          x-go-package: ''
          x-go-type: int
        fees_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        positions:
          $ref: '#/components/schemas/PositionsOverview'
        protocol_swaps:
          $ref: '#/components/schemas/ProtocolSwaps'
        total_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_volume_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - active_users
        - fees_change_usd
        - positions
        - protocol_swaps
        - total_fees_usd
        - total_volume_usd
        - tvl_change_usd
        - tvl_usd
        - volume_change_usd
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsProtocolOverview'
      title: AnalyticsProtocolOverview
    AnalyticsToken:
      type: object
      properties:
        address:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        fees_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        name:
          type: string
        pool_count:
          type: integer
          x-go-package: ''
          x-go-type: int
        pools_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_usd_change_24h:
          type: number
          x-go-package: ''
          x-go-type: float64
        symbol:
          type: string
        tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        tx_count:
          type: integer
          x-go-package: ''
          x-go-type: int
        tx_count_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - address
        - decimals
        - fees_change
        - fees_usd
        - name
        - pool_count
        - pools_change
        - price_usd
        - price_usd_change_24h
        - symbol
        - tvl
        - tvl_change
        - tvl_usd
        - tx_count
        - tx_count_change
        - volume
        - volume_change
        - volume_usd
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsToken'
      title: AnalyticsToken
    AnalyticsUser:
      type: object
      properties:
        first_seen:
          type: integer
          x-go-package: ''
          x-go-type: int
        position_pnl:
          type: number
          x-go-package: ''
          x-go-type: float64
        swap_count:
          type: integer
          x-go-package: ''
          x-go-type: int
        swap_volume:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_value:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - first_seen
        - position_pnl
        - swap_count
        - swap_volume
        - total_value
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*AnalyticsUser'
      title: AnalyticsUser
    BatchOrderViewData:
      type: object
      properties:
        batch_id:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        direction:
          type: boolean
        head:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        id:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        tail:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        tick_lower:
          type: integer
          x-go-package: ''
          x-go-type: int
        tick_upper:
          type: integer
          x-go-package: ''
          x-go-type: int
        token0_amount:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        token1_amount:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        user_count:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - batch_id
        - direction
        - head
        - id
        - tail
        - tick_lower
        - tick_upper
        - token0_amount
        - token1_amount
        - user_count
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*BatchOrderViewData'
      title: BatchOrderViewData
    CGToken:
      type: object
      properties:
        address:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        ath:
          type: number
          x-go-package: ''
          x-go-type: float64
        ath_change_percentage:
          type: number
          x-go-package: ''
          x-go-type: float64
        ath_date:
          type: string
        atl:
          type: number
          x-go-package: ''
          x-go-type: float64
        atl_change_percentage:
          type: number
          x-go-package: ''
          x-go-type: float64
        atl_date:
          type: string
        circulating_supply:
          type: number
          x-go-package: ''
          x-go-type: float64
        current_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        fully_diluted_valuation:
          type: number
          x-go-package: ''
          x-go-type: float64
        high_24h:
          type: number
          x-go-package: ''
          x-go-type: float64
        id:
          type: string
        image:
          type: string
        last_updated:
          type: string
        low_24h:
          type: number
          x-go-package: ''
          x-go-type: float64
        market_cap:
          type: number
          x-go-package: ''
          x-go-type: float64
        market_cap_change_24h:
          type: number
          x-go-package: ''
          x-go-type: float64
        market_cap_change_percentage_24h:
          type: number
          x-go-package: ''
          x-go-type: float64
        market_cap_rank:
          type: integer
          x-go-package: ''
          x-go-type: int
        max_supply:
          type: number
          x-go-package: ''
          x-go-type: float64
        name:
          type: string
        price_change_24h:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_change_percentage_24h:
          type: number
          x-go-package: ''
          x-go-type: float64
        symbol:
          type: string
        total_supply:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_volume:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - address
        - ath
        - ath_change_percentage
        - ath_date
        - atl
        - atl_change_percentage
        - atl_date
        - circulating_supply
        - current_price
        - fully_diluted_valuation
        - high_24h
        - id
        - image
        - last_updated
        - low_24h
        - market_cap
        - market_cap_change_24h
        - market_cap_change_percentage_24h
        - market_cap_rank
        - max_supply
        - name
        - price_change_24h
        - price_change_percentage_24h
        - symbol
        - total_supply
        - total_volume
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*CGToken'
      title: CGToken
    Candle:
      type: object
      properties:
        close:
          type: number
          x-go-package: ''
          x-go-type: float64
        high:
          type: number
          x-go-package: ''
          x-go-type: float64
        low:
          type: number
          x-go-package: ''
          x-go-type: float64
        open:
          type: number
          x-go-package: ''
          x-go-type: float64
        time:
          type: integer
          x-go-package: ''
          x-go-type: int
        volume_base:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume_quote:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - close
        - high
        - low
        - open
        - time
        - volume_base
        - volume_quote
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*Candle'
      title: Candle
    CandleResponse:
      type: object
      properties:
        base_currency:
          type: string
        candles:
          type: array
          items:
            $ref: '#/components/schemas/Candle'
        quote_currency:
          type: string
      required:
        - base_currency
        - candles
        - quote_currency
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*CandleResponse'
      title: CandleResponse
    FactoryEventPoolCreated:
      type: object
      properties:
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        eventAddress:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        logIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        tickSpacing:
          type: integer
          x-go-package: ''
          x-go-type: int
        token0:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token1:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        ts:
          type: string
        txn:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
        txnIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - block
        - eventAddress
        - fee
        - logIndex
        - pool
        - tickSpacing
        - token0
        - token1
        - ts
        - txn
        - txnIndex
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*FactoryEventPoolCreated'
      title: FactoryEventPoolCreated
    HistoricAnalytics:
      type: object
      properties:
        fees:
          type: number
          x-go-package: ''
          x-go-type: float64
        price:
          type: number
          x-go-package: ''
          x-go-type: float64
        time:
          type: integer
          x-go-package: ''
          x-go-type: int
        token0_tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        token1_tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - fees
        - time
        - token0_tvl
        - token1_tvl
        - tvl
        - volume
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*HistoricAnalytics'
      title: HistoricAnalytics
    HistoricProtocolStatistics:
      type: object
      properties:
        fees:
          type: number
          x-go-package: ''
          x-go-type: float64
        new_accounts:
          type: integer
          x-go-package: ''
          x-go-type: int
        time:
          type: integer
          x-go-package: ''
          x-go-type: int
        transaction_count:
          type: integer
          x-go-package: ''
          x-go-type: int
        tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - fees
        - new_accounts
        - time
        - transaction_count
        - tvl
        - volume
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*HistoricProtocolStatistics'
      title: HistoricProtocolStatistics
    HistoricStats:
      type: object
      properties:
        fees_total0:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees_total1:
          type: number
          x-go-package: ''
          x-go-type: float64
        impermanent_loss_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        impermanent_loss_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        net_profit_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        net_profit_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_amount0:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_amount1:
          type: number
          x-go-package: ''
          x-go-type: float64
        price0:
          type: number
          x-go-package: ''
          x-go-type: float64
        price1:
          type: number
          x-go-package: ''
          x-go-type: float64
        time:
          type: string
      required:
        - fees_total0
        - fees_total1
        - impermanent_loss_quoted0
        - impermanent_loss_quoted1
        - net_profit_quoted0
        - net_profit_quoted1
        - position_amount0
        - position_amount1
        - price0
        - price1
        - time
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*HistoricStats'
      title: HistoricStats
    LastTradeResponse:
      type: object
      properties:
        amount:
          type: number
          x-go-package: ''
          x-go-type: float64
        price:
          type: number
          x-go-package: ''
          x-go-type: float64
        side:
          type: string
      required:
        - amount
        - price
        - side
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*LastTradeResponse'
      title: LastTradeResponse
    LimitOrderMarket:
      type: object
      properties:
        block_initialized:
          type: integer
          x-go-package: ''
          x-go-type: int
        fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token0:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token1:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
      required:
        - block_initialized
        - fee
        - pool
        - token0
        - token1
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*LimitOrderMarket'
      title: LimitOrderMarket
    LiquidityTick:
      type: object
      properties:
        amount:
          type: string
        price0:
          type: string
        price1:
          type: string
        tick:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - amount
        - price0
        - price1
        - tick
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*LiquidityTick'
      title: LiquidityTick
    LiquidityChart:
      type: object
      properties:
        above:
          type: array
          items:
            $ref: '#/components/schemas/LiquidityTick'
        base_symbol:
          type: string
        below:
          type: array
          items:
            $ref: '#/components/schemas/LiquidityTick'
        current_pool_tick:
          type: integer
          x-go-package: ''
          x-go-type: int
        quote_symbol:
          type: string
        tick_spacing:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - above
        - base_symbol
        - below
        - current_pool_tick
        - quote_symbol
        - tick_spacing
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*LiquidityChart'
      title: LiquidityChart
    LiquidityTickV2:
      type: object
      properties:
        amount:
          type: number
          x-go-package: ''
          x-go-type: float64
        price0:
          type: number
          x-go-package: ''
          x-go-type: float64
        price1:
          type: number
          x-go-package: ''
          x-go-type: float64
        tick:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - amount
        - price0
        - price1
        - tick
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*LiquidityTickV2'
      title: LiquidityTickV2
    LiquidityChartV2:
      type: object
      properties:
        above:
          type: array
          items:
            $ref: '#/components/schemas/LiquidityTickV2'
        base_symbol:
          type: string
        below:
          type: array
          items:
            $ref: '#/components/schemas/LiquidityTickV2'
        current_pool_tick:
          type: integer
          x-go-package: ''
          x-go-type: int
        quote_symbol:
          type: string
        tick_spacing:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - above
        - base_symbol
        - below
        - current_pool_tick
        - quote_symbol
        - tick_spacing
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*LiquidityChartV2'
      title: LiquidityChartV2
    Order:
      type: object
      properties:
        amount_filled:
          type: string
        amount_total:
          type: string
        avg_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        base_currency:
          type: string
        base_currency_address:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        limit_order_full:
          $ref: '#/components/schemas/BatchOrderViewData'
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        price:
          type: string
        quote_currency:
          type: string
        quote_currency_address:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        should_flip:
          type: boolean
        side:
          type: string
        status:
          type: string
        time:
          type: integer
          x-go-package: ''
          x-go-type: int
        transaction:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
        type:
          type: string
        usd_value:
          type: number
          x-go-package: ''
          x-go-type: float64
        user:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        token_0_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        token_1_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - usd_value
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*Order'
      title: Order
    OrderBookOptions:
      type: object
      properties:
        determine_best_tick_granularity:
          type: boolean
        granularity_index:
          type: integer
          x-go-package: ''
          x-go-type: int
        max_depth:
          type: number
          x-go-package: ''
          x-go-type: float64
        max_orders_per_side:
          type: integer
          x-go-package: ''
          x-go-type: int
        show_actual:
          type: boolean
        tick_granularity_pow10:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - granularity_index
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: OrderBookOptions
      title: OrderBookOptions
    OrderBookTick:
      type: object
      properties:
        price:
          type: string
        size:
          type: string
      required:
        - price
        - size
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*OrderBookTick'
      title: OrderBookTick
    OrderBookResponse:
      type: object
      properties:
        amount_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        asks:
          type: array
          items:
            $ref: '#/components/schemas/OrderBookTick'
        base_symbol:
          type: string
        bids:
          type: array
          items:
            $ref: '#/components/schemas/OrderBookTick'
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        granularity:
          type: integer
          x-go-package: ''
          x-go-type: int
        last_trade:
          $ref: '#/components/schemas/LastTradeResponse'
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        price_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        quote_symbol:
          type: string
        suggested_granularities:
          type: array
          items:
            type: integer
            x-go-package: ''
            x-go-type: int
      required:
        - amount_decimals
        - asks
        - base_symbol
        - bids
        - block
        - granularity
        - last_trade
        - pool
        - price_decimals
        - quote_symbol
        - suggested_granularities
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*OrderBookResponse'
      title: OrderBookResponse
    OrderBookSet:
      type: object
      properties:
        default:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/OrderBookResponse'
        flipped:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/OrderBookResponse'
      required:
        - default
        - flipped
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*OrderBookSet'
      title: OrderBookSet
    OverviewDeltas:
      type: object
      properties:
        day_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        hour_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        month_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        two_week_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        week_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        year_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - day_change_usd
        - hour_change_usd
        - month_change_usd
        - price_usd
        - two_week_change_usd
        - week_change_usd
        - year_change_usd
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*OverviewDeltas'
      title: OverviewDeltas
    PoolEventSwap:
      type: object
      properties:
        amount0:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        amount1:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        eventAddress:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        liquidity:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        logIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
        recipient:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        sender:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        sqrt_price_x96:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        tick:
          type: integer
          x-go-package: ''
          x-go-type: int
        ts:
          type: string
        txn:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Hash
        txnIndex:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - amount0
        - amount1
        - block
        - eventAddress
        - liquidity
        - logIndex
        - recipient
        - sender
        - sqrt_price_x96
        - tick
        - ts
        - txn
        - txnIndex
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolEventSwap'
      title: PoolEventSwap
    PoolSummary:
      type: object
      properties:
        address:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        block:
          type: integer
          x-go-package: ''
          x-go-type: int
        cleaned:
          type: boolean
        default_flipped_granularities:
          type: array
          items:
            type: integer
            x-go-package: ''
            x-go-type: int
        default_granularities:
          type: array
          items:
            type: integer
            x-go-package: ''
            x-go-type: int
        fee:
          type: integer
          x-go-package: ''
          x-go-type: int
        is_preferred_token_order:
          type: boolean
        last_amount:
          type: number
          x-go-package: ''
          x-go-type: float64
        last_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        last_side:
          type: string
        last_updated:
          type: integer
          x-go-package: ''
          x-go-type: int
        liquidity:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        t0:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t0_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t0_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_high:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_high_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_low:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_low_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_name:
          type: string
        t0_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_symbol:
          type: string
        t0_tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_change_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t0_volume_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t1_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_change_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        t1_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_high:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_high_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_low:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_low_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_name:
          type: string
        t1_price:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_symbol:
          type: string
        t1_tvl:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_change_7d:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_volume_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_fees_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_volume_7d_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        tvl_usd_change:
          type: number
          x-go-package: ''
          x-go-type: float64
        tx_count:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - address
        - block
        - cleaned
        - default_flipped_granularities
        - default_granularities
        - fee
        - is_preferred_token_order
        - last_amount
        - last_price
        - last_side
        - last_updated
        - liquidity
        - t0
        - t0_change
        - t0_change_usd
        - t0_decimals
        - t0_fees_usd
        - t0_high
        - t0_high_usd
        - t0_low
        - t0_low_usd
        - t0_name
        - t0_price
        - t0_price_usd
        - t0_symbol
        - t0_tvl
        - t0_tvl_usd
        - t0_volume
        - t0_volume_7d
        - t0_volume_change
        - t0_volume_change_7d
        - t0_volume_usd
        - t1
        - t1_change
        - t1_change_usd
        - t1_decimals
        - t1_fees_usd
        - t1_high
        - t1_high_usd
        - t1_low
        - t1_low_usd
        - t1_name
        - t1_price
        - t1_price_usd
        - t1_symbol
        - t1_tvl
        - t1_tvl_usd
        - t1_volume
        - t1_volume_7d
        - t1_volume_change
        - t1_volume_change_7d
        - t1_volume_usd
        - total_fees_usd
        - total_volume_7d_usd
        - tvl_usd
        - tvl_usd_change
        - tx_count
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolSummary'
      title: PoolSummary
    PoolFees:
      type: object
      properties:
        fees_24h_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        pool_summary_level_1:
          $ref: '#/components/schemas/PoolSummary'
        volume_24h_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - fees_24h_usd
        - pool_summary_level_1
        - volume_24h_usd
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolFees'
      title: PoolFees
    PoolInfo:
      type: object
      properties:
        base:
          type: string
        close:
          type: number
          x-go-package: ''
          x-go-type: float64
        high:
          type: number
          x-go-package: ''
          x-go-type: float64
        is_preferred_token_order:
          type: boolean
        last_trade:
          $ref: '#/components/schemas/LastTradeResponse'
        low:
          type: number
          x-go-package: ''
          x-go-type: float64
        open:
          type: number
          x-go-package: ''
          x-go-type: float64
        quote:
          type: string
        transaction_count:
          type: integer
          x-go-package: ''
          x-go-type: int
        volume_base:
          type: number
          x-go-package: ''
          x-go-type: float64
        volume_quote:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - base
        - close
        - high
        - is_preferred_token_order
        - last_trade
        - low
        - open
        - quote
        - transaction_count
        - volume_base
        - volume_quote
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolInfo'
      title: PoolInfo
    PoolPrices:
      type: object
      properties:
        token0PerToken1:
          type: number
          x-go-package: ''
          x-go-type: float64
        token1PerToken0:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - token0PerToken1
        - token1PerToken0
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolPrices'
      title: PoolPrices
    TokenLevel1:
      type: object
      properties:
        address:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        decimals:
          type: integer
          x-go-package: ''
          x-go-type: int
        name:
          type: string
        symbol:
          type: string
        total_supply:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
      required:
        - address
        - decimals
        - name
        - symbol
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*TokenLevel1'
      title: TokenLevel1
    PoolTokens:
      type: object
      properties:
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t0:
          $ref: '#/components/schemas/TokenLevel1'
        t1:
          $ref: '#/components/schemas/TokenLevel1'
      required:
        - pool
        - t0
        - t1
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolTokens'
      title: PoolTokens
    PoolPricesUSD:
      type: object
      properties:
        Timestamp:
          type: string
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        t0_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        t1_price_usd:
          type: number
          x-go-package: ''
          x-go-type: float64
        token_info:
          $ref: '#/components/schemas/PoolTokens'
      required:
        - Timestamp
        - pool
        - t0_price_usd
        - t1_price_usd
        - token_info
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolPricesUSD'
      title: PoolPricesUSD
    PoolTickState:
      type: object
      properties:
        sqrt_price_x96:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        tick:
          type: integer
          x-go-package: ''
          x-go-type: int
      required:
        - sqrt_price_x96
        - tick
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*PoolTickState'
      title: PoolTickState
    Position:
      type: object
      properties:
        a0:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        a1:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        blk:
          type: integer
          x-go-package: ''
          x-go-type: int
        ei:
          type: integer
          x-go-package: ''
          x-go-type: int
        fi0:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        fi1:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        lq:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        owner:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        pool:
          type: string
          minLength: 42
          maxLength: 42
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/ethereum/go-ethereum/common
          x-go-type: Address
        tl:
          type: integer
          x-go-package: ''
          x-go-type: int
        to0:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        to1:
          type: string
          minLength: 66
          maxLength: 66
          pattern: ^0x[a-fA-F0-9]*$
          x-go-package: github.com/holiman/uint256
          x-go-type: '*Int'
        tu:
          type: integer
          x-go-package: ''
          x-go-type: int
      x-go-package: gfx.cafe/uniswap/go/src/api
      x-go-type: '*Position'
      title: Position
    PositionStatistics:
      type: object
      properties:
        amount0_final:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount0_initial:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1_final:
          type: number
          x-go-package: ''
          x-go-type: float64
        amount1_initial:
          type: number
          x-go-package: ''
          x-go-type: float64
        backtest_end_time:
          type: string
        backtest_start_time:
          type: string
        fees_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees_token0:
          type: number
          x-go-package: ''
          x-go-type: float64
        fees_token1:
          type: number
          x-go-package: ''
          x-go-type: float64
        historic_fees:
          type: array
          items:
            $ref: '#/components/schemas/HistoricStats'
        impermanent_loss_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        impermanent_loss_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        net_potential_profit_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        net_potential_profit_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        net_profit_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        net_profit_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_fee_apr0:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_fee_apr1:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_price_lower:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_price_upper:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_proportion_of_volume_in_range0:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_proportion_of_volume_in_range1:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_time_in_range:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_volume_in_range0:
          type: number
          x-go-package: ''
          x-go-type: float64
        position_volume_in_range1:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_final_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_final_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_initial_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        price_initial_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        raw_fee_apr0:
          type: number
          x-go-package: ''
          x-go-type: float64
        raw_fee_apr1:
          type: number
          x-go-package: ''
          x-go-type: float64
        return_proportion_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        return_proportion_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_volume0:
          type: number
          x-go-package: ''
          x-go-type: float64
        total_volume1:
          type: number
          x-go-package: ''
          x-go-type: float64
        transaction_count:
          type: integer
          x-go-package: ''
          x-go-type: int
        value_if_held_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        value_if_held_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        value_initial_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        value_initial_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
        value_now_quoted0:
          type: number
          x-go-package: ''
          x-go-type: float64
        value_now_quoted1:
          type: number
          x-go-package: ''
          x-go-type: float64
      required:
        - amount0_final
        - amount0_initial
        - amount1_final
        - amount1_initial
        - backtest_end_time
        - backtest_start_time
        - fees_quoted0
        - fees_quoted1
        - fees_token0
        - fees_token1
        - historic_fees
        - impermanent_loss_quoted0
        - impermanent_loss_quoted1
        - net_potential_profit_quoted0
        - net_potential_profit_quoted1
        - net_profit_quoted0
        - net_profit_quoted1
        - position_fee_apr0
        - position_fee_apr1
        - position_price_lower
        - position_price_upper
        - position_proportion_of_volume_in_range0
        - position_proportion_of_volume_in_range1
        - position_time_in_range
        - position_volume_in_range0
        - position_volume_in_range1
        - price_final_quoted0
        - price_final_quoted1
        - price_initial_quoted0
[...]
